html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background-color: slategray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.calculator {
    /* TODO: hack to get the display to wrap */
    width: 370px;
    outline: 5px solid black;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.display {
    width: 100%;
    word-break: break-all;
    text-align: right;
    font-size: xx-large;
}
.display>div {
    border: 1px solid black;
    height: 2.5rem;
}

.buttons,
.buttons > div {
    gap: 5px;
}

.buttons {
    display: flex;
    justify-content: flex-start;
}

.numbers {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, auto);
}

.operators,
.actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.actions {
    justify-content: flex-end;
}

button {
    font-size: x-large;
    height: 4rem;
    width: 4rem;
}

.btn-number {
    font-weight: bold;
}

.btn-operator {
    background-color: black;
    color: white;
}

.btn-action {
    background-color: red;
    color: black;
}
